* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.interestingTitles__h1--title {
  font-size: 5em;
}

.interestingTitles__bg-presentation-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/public/img/interestingTitles.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
}

/* .accordion-button {
  background-color: black;
  color: white;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
}

.accordion-body {
  background-color: black;
  color: white;
  padding: 0;
  margin-top: 0px;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M2.646 4.646a.5.5 0 0 1 .708 0L8 9.293l4.646-4.647a.5.5 0 0 1 .708.708l-5 5a.5.5 0 0 1-.708 0l-5-5a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed) {
  background-color: black;
  color: white;
  border: none;
} */