* {
  box-sizing: border-box;
}

.gameDetails__bg-presentation-overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 450px;
}


.gameDetails__card--offers {
  height: 15vh;
}

.gameDetails__card {
  top: 6em;
}