* {
  box-sizing: border-box;
}

.bg-presentation-overlay {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/public/img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 450px;
}

.card-img-hover:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  overflow: hidden;
}

.card-hover {
  overflow: hidden;
}

img-width {
  max-width: 232px;
}

.bg-stores-overlay {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/public/img/fondo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 400px;
}

.deal-section .card:last-child {
  border-bottom: none !important;
}

.fa-bounce-hover {
  transition: transform 0.3s ease;
}

/* Estado hover del ícono */
.card:hover .fa-bounce-hover {
  transform: scale(1.3);
}