* {
  box-sizing: border-box;
}

.bg-presentation-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/public/img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 450px;
}



.bg-stores-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/public/img/fondo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 400px;
}

.fa-bounce-hover {
  transition: transform 0.3s ease;
}

/* Estado hover del ícono */
.card:hover .fa-bounce-hover {
  transform: scale(1.3);
}