body {
  background-color: rgb(56, 56, 56);
}

.card-img-hover:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  overflow: hidden;
}

.card-hover {
  overflow: hidden;
}

img-width {
  max-width: 232px;
}