* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchGameCard__img--height {
  height: 176px;
  width: 270px;
  object-fit: cover;
}

.searchGameCard__p--salePrice {
  font-size: 1.7em;
}

/* ///////////////////////////////////////////////// */
/* STAR RATING CSS */
/* ///////////////////////////////////////////////// */
.searchGameCard__ratings {
  margin-right: 10px;
}

.searchGameCard__ratings i {

  color: #cecece;
  font-size: 15px;
}

.searchGameCard__rating--color {
  color: #fbc634 !important;
}

/* ///////////////////////////////////////////////// */
/* STAR RATING CSS */
/* ///////////////////////////////////////////////// */